<div class="main photos-index">
    <div class="container">
        <% @photos.each do |photo| %>
        <% @likes_count = Like.where(photo_id: photo.id).count %>
            <div class="photos-index-item">
                <div class="photo-left">
                    <%= link_to( "/users/#{photo.user.id}")do %>
                        <img src="<%= "/user_images/#{photo.user.image_name}" %>">
                    <% end %>
                </div>
                <div class="photo-right">
                    <div class="photo-user-name">
                        <%= link_to(photo.user.name, "/users/#{photo.user.id}") %>
                    </div>
                <%= link_to( "/photos/#{photo.id}")do %>
                    <img src="<%= "/photos/#{photo.image_name}" %>">
                <% end %>
            <p>
                <%= photo.content %>
            </p>
            <%# いいね機能 %>
            <% if Like.find_by(user_id: @current_user.id, photo_id: photo.id) %>
                <%= link_to("/likes/#{photo.id}/destroy", data: { turbo_method: :post }) do %>
                    <span class="fa fa-heart liked-btn"></span>
                <% end %>
            <% else %>
                <%= link_to("/likes/#{photo.id}/create", data: { turbo_method: :post }) do %>
                    <span class="fa fa-heart unliked-btn"></span>
                <% end %>
            <% end %>
            <%# ハートの数表示 %>
            <%= @likes_count %>
                </div>

            </div>
        <% end %>
    </div>
</div>