<div class="main photos-show">
    <div class="container">
        <div class="photos-show-item">
            <div class="photo-user-name">
                <%= link_to( "/users/#{@photo.user.id}")do %>
                    <img src="<%= "/user_images/#{@photo.user.image_name}" %>">
                <% end %>
                <%= link_to(@photo.user.name, "/users/#{@photo.user_id}") %>
            </div>
            <p>
                <div class="show-photo">
                <img src="<%= "/photos/#{@photo.image_name}" %>" id="show-photo">
                
            </p>
            <p>
                <%= @photo.content %>
            </p>
            
            <div class="photo-time">
                <%# 作成日 %>
                <%= @photo.created_at %>
            </div>
            <%# いいね機能 %>
            <% if Like.find_by(user_id: @current_user.id, photo_id: @photo.id) %>
                <%= link_to("/likes/#{@photo.id}/destroy", data: { turbo_method: :post }) do %>
                    <span class="fa fa-heart liked-btn"></span>
                <% end %>
            <% else %>
                <%= link_to("/likes/#{@photo.id}/create", data: { turbo_method: :post }) do %>
                    <span class="fa fa-heart unliked-btn"></span>
                <% end %>
            <% end %>
            <%# ハートの数表示 %>
            <%= @likes_count %>
            
            <% if @photo.user_id == @current_user.id %>
                <div class="photo-menus">
                    <%= link_to("編集", "/photos/#{@photo.id}/edit") %>
                    <%= link_to("削除", "/photos/#{@photo.id}/destroy", data: { turbo_method: :photo } ) %>
                </div>
            <% end %>
            </div>
        </div>
    </div>
</div>